* {
  padding: 0;
  margin: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  /* center, start/flex-start, end/flex-end, space-between */
  padding: 20px 0;
  align-items: center;
}
.header_left img {
  max-width: 200px;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  display: inline;
  padding: 10px;
}
.nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}
.section_flex {
  box-shadow: 1px 4px 16px #ccc;
}
